---
const getCurrentYear = new Date().getFullYear();
---

<footer class="mt-5">
  <div class="container pb-2">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-6">
        <div class="text-center">
          <p class="mb-0">Copyrights ©, 2019-{getCurrentYear} - drabkirn</p>
        </div>
        <div class="d-flex justify-content-center gap-2 text-center mt-1">
          <a href="/privacy_policy" class="text-secondary-emphasis"
            >Privacy Policy</a
          >
          <a href="/terms_conditions" class="text-secondary-emphasis">Terms</a>
          <a
            href="mailto:drabkirn@cdadityang.xyz"
            class="text-secondary-emphasis">Contact</a
          >
        </div>
      </div>
    </div>
  </div>
</footer>
